body {
	position: absolute;
  top: 0;
  right: 0;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	margin: 0;
}


#main_view {
	position: absolute;
	left: 0;
	top: 2%;
	width: 100%;
	height: 98%;
	background-color: #bfd5df;
	z-index: 0;
}